.sl-slider-wrapper {
	width: 800px;
	height: 400px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.sl-slider {
	position: absolute;
	top: 0;
	left: 0;
}

/* Slide wrapper and slides */

.sl-slide,
.sl-slides-wrapper,
.sl-slide-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: -45px;
} 

.sl-slide {
	z-index: 1;
}

/* The duplicate parts/slices */

.sl-content-slice {
	overflow: hidden;
	position: absolute;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	background: #fff;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	opacity : 1;
}

/* Horizontal slice */

.sl-slide-horizontal .sl-content-slice {
	width: 100%;
	height: 50%;
	left: -200px;
	-webkit-transform: translateY(0%) scale(1);
	-moz-transform: translateY(0%) scale(1);
	-o-transform: translateY(0%) scale(1);
	-ms-transform: translateY(0%) scale(1);
	transform: translateY(0%) scale(1);
}

.sl-slide-horizontal .sl-content-slice:first-child {
	top: -200px;
	padding: 200px 200px 0px 200px;
}

.sl-slide-horizontal .sl-content-slice:nth-child(2) {
	top: 50%;
	padding: 0px 200px 200px 200px;
}

/* Vertical slice */

.sl-slide-vertical .sl-content-slice {
	width: 50%;
	height: 100%;
	top: -200px;
	-webkit-transform: translateX(0%) scale(1);
	-moz-transform: translateX(0%) scale(1);
	-o-transform: translateX(0%) scale(1);
	-ms-transform: translateX(0%) scale(1);
	transform: translateX(0%) scale(1);
}

.sl-slide-vertical .sl-content-slice:first-child {
	left: -200px;
	padding: 200px 0px 200px 200px;
}

.sl-slide-vertical .sl-content-slice:nth-child(2) {
	left: 50%;
	padding: 200px 200px 200px 0px;
}

/* Content wrapper */
/* Width and height is set dynamically */
.sl-content-wrapper {
	position: absolute;
}

.sl-content {
	width: 100%;
	height: 100%;
	background: #fff;
}

/* Default styles for background colors */
.sl-slide-horizontal .sl-slide-inner {
	background: #ddd;
}

.sl-slide-vertical .sl-slide-inner {
	background: #ccc;
}

/* popup */

#popup {
   visibility: hidden;
   opacity: 0;
   margin-top: -300px;
}
#popup:target {
   visibility:visible;
   opacity: 1;
   background-color: rgba(0,0,0,0.8);
   position: fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:0;
   z-index: 999;
   transition:all 1s;
}
.popup-contenedor {
   position: relative;
   margin:7% auto;
   padding:30px 50px;
   background: url(../images/simbolo1.png) no-repeat right bottom;
   background-color: #fafafa;
   color:#333;
   border-radius: 3px;
   width:50%;
}
a.popup-cerrar {
   position: absolute;
   top:3px;
   right:3px;
   background-color: #333;
   padding:7px 10px;
   font-size: 20px;
   text-decoration: none;
   line-height: 1;
   color:#fff;
}

/* formulario */

#formulario {
   visibility: hidden;
   opacity: 0;
   margin-top: -300px;
}
#formulario:target {
   visibility:visible;
   opacity: 1;
   background-color: rgba(0,0,0,0.8);
   position: fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:0;
   z-index: 999;
   transition:all 1s;
}
.formulario-contenedor {
   position: relative;
   margin:7% auto;
   padding:30px 50px;
   background: url(../images/simbolo2.png) no-repeat right bottom;
   background-color: #fafafa;
   color:#333;
   border-radius: 3px;
   width:50%;
}
a.formulario-cerrar {
   position: absolute;
   top:3px;
   right:3px;
   background-color: #333;
   padding:7px 10px;
   font-size: 20px;
   text-decoration: none;
   line-height: 1;
   color:#fff;
}

/* pin */

#pin {
   visibility: hidden;
   opacity: 0;
   margin-top: -300px;
}
#pin:target {
   visibility:visible;
   opacity: 1;
   background-color: rgba(0,0,0,0.8);
   position: fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:0;
   z-index: 999;
   transition:all 1s;
}
.pin-contenedor {
   position: relative;
   margin:7% auto;
   height: 310px;
   padding:30px 50px;
   background: url(../images/pin.png) no-repeat right bottom;
   background-color: #fafafa;
   color:#333;
   border-radius: 3px;
   width:50%;
}
a.pin-cerrar {
   position: absolute;
   top:3px;
   right:3px;
   background-color: #333;
   padding:7px 10px;
   font-size: 20px;
   text-decoration: none;
   line-height: 1;
   color:#fff;
}

/* inconsistencia */

#inconsistencia {
   visibility: hidden;
   opacity: 0;
   margin-top: -300px;
}
#inconsistencia:target {
   visibility:visible;
   opacity: 1;
   background-color: rgba(0,0,0,0.8);
   position: fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:0;
   z-index: 999;
   transition:all 1s;
}
.inconsistencia-contenedor {
   position: relative;
   margin:7% auto;
   height: 480px;
   padding:30px 50px;
   background: url(../images/simbolo3.png) no-repeat right bottom;
   background-color: #fafafa;
   color:#333;
   border-radius: 3px;
   width:50%;
}
a.inconsistencia-cerrar {
   position: absolute;
   top:3px;
   right:3px;
   background-color: #333;
   padding:7px 10px;
   font-size: 20px;
   text-decoration: none;
   line-height: 1;
   color:#fff;
}


main {
	
	background-image:url(../images/fondo1.jpg);
            -webkit-column-count:3;
            -moz-column-count:3;
            column-count:3;
			
			-moz-column-gap: 3em;
	   		 -webkit-column-gap: 3em;
	    	column-gap: 3em;
			
			
			-moz-column-width: 400px;        
	    	-webkit-column-width: 400px;
	    	column-width: 400px;
        }

.spanAll {
  -webkit-column-span:1;
  -moz-column-span:1;
  column-span:1;
}

/*diseño para moviles 480*/
@media only screen and (max-width:1000px){
	
.pin-contenedor {
   position: relative;
   margin:7% auto;
   height: 160px;
   padding:10px 20px;
   background: url(../images/pin1.png) no-repeat right bottom;
   background-color: #fafafa;
   color:#333;
   border-radius: 3px;
   width:50%;
}
.sl-slide,
.sl-slides-wrapper,
.sl-slide-inner {
	left: -10px;
} 
	